li {
  list-style: none;
}
#bLogo {
width: 175px;
height: auto;
}
.header {
  display:flex;
  justify-content: space-around;
  border: 1px solid black;
  }
  .header__bar {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  a {
    text-decoration: none;
    color: black;
  }