.header__items{
  display:flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  display: flex;
  list-style: none;
  gap: 10px;
justify-content: center;
}